 body {
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            color: #333;
            background-color: #abc69a;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background: #eee7ba;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        h1,
        h2 {
            color: #333;
        }
        h2 a {
            text-decoration: none;
            color: inherit;
        }
        .header {
            text-align: center;
        }
        .header h1 {
            margin: 10px 0;
        }
        .contact {
            margin: 10px 0;
            font-size: 14px;
        }
        .contact a {
            color: #333;
            text-decoration: none;
        }
        .section {
            margin: 20px 0;
        }
        .section h2 {
            margin-bottom: 10px;
            border-bottom: 2px solid #333;
            padding-bottom: 5px;
        }
        .item {
            margin-bottom: 15px;
        }
        .item h3 {
            margin: 0;
            font-size: 18px;
            color: #555;
        }
        .item p {
            margin: 5px 0;
            font-size: 14px;
        }
        .skills ul {
            list-style: none;
            padding: 0;
        }
        .skills ul li {
            display: inline-block;
            background: #333;
            color: #fff;
            padding: 5px 10px;
            margin: 5px 5px 5px 0;
            border-radius: 4px;
        }